image:
  registry: docker.io
  repository: traefik
  tag: "3.6.4"
  pullPolicy: IfNotPresent

global:
  arguments:
    - --global.sendanonymoususage=false
    - --global.checknewversion=false
additionalArguments:
  - --serversTransport.insecureSkipVerify=true
  - --log.level=INFO
  - --api.insecure=true # for trala (almost removed dashboard middleware)
experimental: # FOR CROWDSEC
  plugins: #
    crowdsec-bouncer: #
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin #
      version: v1.3.5 #
deployment:
  enabled: true
  replicas: 3
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []
  additionalVolumes:
    - name: local-timmybtech-com-tls
      secret:
        secretName: local-timmybtech-com-tls
    - name: timmybtech-com-tls
      secret:
        secretName: timmybtech-com-tls
ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    http:
      tls:
        enabled: true
ingressRoute:
  dashboard:
    enabled: false
providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowCrossNamespace: true # FOR AUTHENTIK
    allowExternalNameServices: true
    # ingressRoute: # FOR CROWDSEC
    #   defaultMiddleware: #
    #     namespace: traefik #
    #     name: crowdsec-bouncer #
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false
  file:
    enabled: true
    watch: true
    content: |
      tls:
        certificates:
          - certFile: /certs/local/tls.crt
            keyFile: /certs/local/tls.key
          - certFile: /certs/global/tls.crt
            keyFile: /certs/global/tls.key
        stores:
          default:
            defaultCertificate:
              certFile: /certs/local/tls.crt
              keyFile: /certs/local/tls.key

      http:
        middlewares:
          authentik:
            forwardAuth:
              address: http://ak-outpost-authentik-embedded-outpost.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/traefik
              trustForwardHeader: true
              authResponseHeaders:
                - X-authentik-username
                - X-authentik-groups
                - X-authentik-entitlements
                - X-authentik-email
                - X-authentik-name
                - X-authentik-uid
                - X-authentik-jwt
                - X-authentik-meta-jwks
                - X-authentik-meta-outpost
                - X-authentik-meta-provider
                - X-authentik-meta-app
                - X-authentik-meta-version

        routers:
          uptime-kuma:
            rule: Host(`uptime-kuma.local.timmybtech.com`)
            service: uptime-kuma
            entrypoints:
              - websecure
            middlewares:
              - authentik
            tls: {}
          uptime-kuma-auth:
            rule: "Host(`uptime-kuma.local.timmybtech.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
            priority: 15
            service: authentik
            entrypoints:
              - websecure
            tls: {}
          archivebox:
            rule: Host(`archivebox.local.timmybtech.com`)
            service: archivebox
            entrypoints:
              - websecure
            tls: {}
          speedtest:
            rule: Host(`speedtest.local.timmybtech.com`)
            service: speedtest
            entrypoints:
              - websecure
            tls: {}
          nas:
            rule: Host(`nas.local.timmybtech.com`)
            service: nas
            entrypoints:
              - websecure
            tls: {}
          it-tools:
            rule: Host(`it-tools.local.timmybtech.com`)
            service: it-tools
            entrypoints:
              - websecure
            tls: {}
          pgweb:
            rule: Host(`pgweb.local.timmybtech.com`)
            service: pgweb
            entrypoints:
              - websecure
            tls: {}
          netalertx:
            rule: Host(`netalertx.local.timmybtech.com`)
            service: netalertx
            entrypoints:
              - websecure
            tls: {}
          nutalert:
            rule: Host(`nutalert.local.timmybtech.com`)
            service: nutalert
            entrypoints:
              - websecure
            tls: {}
          pve:
            rule: Host(`pve.local.timmybtech.com`)
            service: pve
            entrypoints:
              - websecure
            tls: {}
          homeassistant:
            rule: Host(`homeassistant.local.timmybtech.com`)
            service: homeassistant
            entrypoints:
              - websecure
            tls: {}
          loki:
            rule: Host(`loki.local.timmybtech.com`)
            service: loki
            entrypoints:
              - websecure
            tls: {}
          prometheus:
            rule: Host(`prometheus.local.timmybtech.com`)
            service: prometheus
            entrypoints:
              - websecure
            tls: {}
          ara-api:
            rule: Host(`ara-api.local.timmybtech.com`)
            service: ara-api
            entrypoints:
              - websecure
            tls: {}
          actualbudget:
            rule: Host(`budget.local.timmybtech.com`)
            service: actualbudget
            entrypoints:
              - websecure
            tls: {}
          adguard:
            rule: Host(`adguard.local.timmybtech.com`)
            service: adguard
            entrypoints:
              - websecure
            tls: {}
          adguard-secondary:
            rule: Host(`adguard-secondary.local.timmybtech.com`)
            service: adguard-secondary
            entrypoints:
              - websecure
            tls: {}
          dozzle:
            rule: Host(`dozzle.local.timmybtech.com`)
            service: dozzle
            entrypoints:
              - websecure
            tls: {}
          semaphore:
            rule: Host(`semaphore.local.timmybtech.com`)
            service: semaphore
            entrypoints:
              - websecure
            tls: {}
          pulse:
            rule: Host(`pulse.local.timmybtech.com`)
            service: pulse
            entrypoints:
              - websecure
            tls: {}
          zabbix:
            rule: Host(`zabbix.local.timmybtech.com`)
            service: zabbix
            entrypoints:
              - websecure
            tls: {}
          grafana2-public:
            rule: Host(`grafana2.timmybtech.com`)
            service: grafana2
            entrypoints:
              - websecure
            tls: {}
          healthchecks:
            rule: Host(`healthchecks.timmybtech.com`)
            service: healthchecks
            entrypoints:
              - websecure
            tls: {}
          netbox:
            rule: Host(`netbox.local.timmybtech.com`)
            service: netbox
            entrypoints:
              - websecure
            tls: {}
          anyappstart:
            rule: Host(`anyappstart.local.timmybtech.com`)
            service: anyappstart
            entrypoints:
              - websecure
            tls: {}
          cupdate-podman:
            rule: Host(`cupdate-podman.local.timmybtech.com`)
            service: cupdate-podman
            entrypoints:
              - websecure
            tls: {}
          scrutiny:
            rule: Host(`scrutiny.local.timmybtech.com`)
            service: scrutiny
            entrypoints:
              - websecure
            tls: {}
          scanopy:
            rule: Host(`scanopy.local.timmybtech.com`)
            service: scanopy
            entrypoints:
              - websecure
            tls: {}
          dockhand:
            rule: Host(`dockhand.local.timmybtech.com`)
            service: dockhand
            entrypoints:
              - websecure
            tls: {}
          manyfold:
            rule: Host(`manyfold.local.timmybtech.com`)
            service: manyfold
            entrypoints:
              - websecure
            tls: {}
          omni-tools:
            rule: Host(`omni-tools.local.timmybtech.com`)
            service: omni-tools
            entrypoints:
              - websecure
            tls: {}
          lastsignal:
            rule: Host(`lastsignal.local.timmybtech.com`)
            service: lastsignal
            entrypoints:
              - websecure
            tls: {}
        services:
          uptime-kuma:
            loadBalancer:
              servers:
                - url: http://homelab-oci03.tailebee.ts.net:3001
          authentik:
            loadBalancer:
              servers:
                - url: https://authentik.timmybtech.com/outpost.goauthentik.io
          speedtest:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8083
          archivebox:
            loadBalancer:
              servers:
                - url: http://192.168.86.139:8000
          nas:
            loadBalancer:
              servers:
                - url: https://192.168.86.44:5001
              serversTransport: nas-transport
          it-tools:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:5884
          pgweb:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8084
          netalertx:
            loadBalancer:
              servers:
                - url: http://192.168.86.147:20211
          nutalert:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8087
          pve:
            loadBalancer:
              servers:
                - url: https://192.168.86.199:8006
          homeassistant:
            loadBalancer:
              servers:
                - url: http://192.168.86.147:8123
          loki:
            loadBalancer:
              servers:
                - url: http://192.168.86.146:3100
          prometheus:
            loadBalancer:
              servers:
                - url: http://192.168.86.198:9090
          ara-api:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8009
          actualbudget:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:5006
          adguard:
            loadBalancer:
              servers:
                - url: http://192.168.86.214:80
          adguard-secondary:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:80
          dozzle:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:9999
          semaphore:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:3005
          pulse:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:7655
          zabbix:
            loadBalancer:
              servers:
                - url: http://homelab-oci02.tailebee.ts.net:80
          grafana2:
            loadBalancer:
              servers:
                - url: http://192.168.86.106:3000
          healthchecks:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8000
          netbox:
            loadBalancer:
              servers:
                - url: http://192.168.86.110:80
          anyappstart:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8855
          cupdate-podman:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8082
          scrutiny:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8091
          scanopy:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:60072
          dockhand:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:3007
          manyfold:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:3214
          omni-tools:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8092
          lastsignal:
            loadBalancer:
              servers:
                - url: http://192.168.86.174:8094
        serversTransports:
          nas-transport:
            insecureSkipVerify: true

additionalVolumeMounts:
  - name: local-timmybtech-com-tls
    mountPath: /certs/local
    readOnly: true
  - name: timmybtech-com-tls
    mountPath: /certs/global
    readOnly: true
rbac:
  enabled: true
service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: 192.168.86.224 # This should be an IP in the MetalLB range
    externalTrafficPolicy: Local # FOR CROWDSEC
  loadBalancerSourceRanges: []
  externalIPs: []
logs:
  access:
    enabled: false
    format: json
  general:
    format: json
