{
	"data": "ENC[AES256_GCM,data:yWV3txcKgHVnaQ+qZNz9tAqHJves0Glk7muWlQw2uJwhaOh7NobQQ8upCbI7NysRIGOL68xD4iTcA7xNDvhpf7E1I59noAqmov+L5V2oqeLj13YsK/Q2dOtFWjdFoF5P5JyKOALOR82IqEXOzx4Qy1yPILAIbzutdqHxrksYB+aIUfduyt6TwgEHVPqB5/fmfs/pmV/Xdg==,iv:euHqodM0Uc1S5f1s68/Uyx8Zg1vPxMprOZV0+rQFTDI=,tag:FgjUCpHTzbmHcRVU7s14Hg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwQjJHNzRWZjkzcFB2Y2Np\nMlluZlpUNmt1OEtuc1VQQWh5ck9GbFpuRWtVCmN3cHNEQTZrTXNTbFA5WEJpQ2J3\nSUZxb0loeUIydFVTeFhFRG5zQUN2MmcKLS0tIDJzek41VmlzbDJnWHFCbTNwQmda\ncHlReWsySlRMYzdUQnFsNERySytxYkUKFCLIosg9ZIaIJUL+SvhgEXpzDTJTyZnV\nGgNhca0gx/6iDxIaF6neaMl85G+7VDTQhZrqGMfA2bNKqdIMKAZy+w==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-04-16T16:07:57Z",
		"mac": "ENC[AES256_GCM,data:JrKr5s5smNGGv+MOhnyOMtp6NA03NREcV/7n/BAzJM8fOS8gl+77d0s2c5UQSdcdM3DPFqbJ6k+PvhLrtVHO+KPRAU5ffbcRv0+lbYVMD5PfbNjDRzSG3Alv2yxLZAe4ZHNGWmv4YTmVnP9/7obeyftaMy7H84Q1iTYoQ76XA18=,iv:Yn7O2LbWic+jPGUyQtgZ599pvNm/A/zonUk8MaNF9Yo=,tag:BXbVCO5DiTMJ4pBRIzDc1Q==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}