Archive/
AArchive/
.env
.monokle

manifests/metallb/ansible-k3s/
manifests/gitea/templates/
# manifests/metallb/ansible-k3s/
helm/Inactive/kube-prometheus-stack/secrets/
!helm/Inactive/kube-prometheus-stack/configMaps
helm/Inactive/kube-prometheus-stack/configMaps/*
!helm/Inactive/kube-prometheus-stack/configMaps/k8s*
*.secrets.yaml
helm/Inactive/vault/cluster-keys.json
helm/Inactive/caretta/values.live.yaml
!gitops/manifests/Archive/
gitops/app-configs/Archive/
helm/Active/traefik/certmanager/backup.yaml
