---
apiVersion: v1
kind: Namespace
metadata:
  name: mealie
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mealie-data
  namespace: mealie
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mealie-oidc-config
  namespace: mealie
data:
  OIDC_AUTH_ENABLED: "true"
  OIDC_PROVIDER_NAME: "authentik"
  OIDC_CONFIGURATION_URL: "<path:secret/data/argocd#MEALIE_AUTHENTIK_CONFIG_URL>"
  OIDC_CLIENT_ID: "<path:secret/data/argocd#MEALIE_AUTHENTIK_CLIENT_ID>"
  OIDC_CLIENT_SECRET: "<path:secret/data/argocd#MEALIE_AUTHENTIK_CLIENT_SECRET>"
  OIDC_SIGNUP_ENABLED: "true"
  OIDC_USER_GROUP: "<path:secret/data/argocd#MEALIE_AUTHENTIK_USER_GROUP>"
  OIDC_ADMIN_GROUP: "<path:secret/data/argocd#MEALIE_AUTHENTIK_ADMIN_GROUP>"
  OIDC_AUTO_REDIRECT: "false" # Optional: The login page will be bypassed and you will be sent directly to your Identity Provider.
  OIDC_REMEMBER_ME: "true"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v3.5.0
          ports:
            - containerPort: 9000
          env:
            - name: ALLOW_SIGNUP
              value: "false"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/New_York"
            - name: BASE_URL
              value: "https://mealie.local.timmybtech.com"
            - name: DB_ENGINE
              value: "postgres"
            - name: POSTGRES_USER
              value: "<path:secret/data/database#PG_USER>"
            - name: POSTGRES_PASSWORD
              value: "<path:secret/data/database#PG_PASSWORD>"
            - name: POSTGRES_SERVER
              value: "<path:secret/data/database#PG_HOST>"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: "mealie"
            - name: OPENAI_API_KEY
              value: "<path:secret/data/argocd#OPENAI_API_KEY>"
            - name: SMTP_HOST
              value: "<path:secret/data/google_smtp#SMTP_HOST>"
            - name: SMTP_PORT
              value: "587"
            - name: SMTP_USER
              value: "<path:secret/data/google_smtp#SMTP_USER>"
            - name: SMTP_PASSWORD
              value: "<path:secret/data/google_smtp#SMTP_PASSWORD>"
            - name: SMTP_FROM_EMAIL
              value: "<path:secret/data/google_smtp#SMTP_FROM>"
            - name: SMTP_AUTH_STRATEGY
              value: "TLS"
          envFrom:
            - configMapRef:
                name: mealie-oidc-config
          resources:
            limits:
              memory: "1000Mi"
          volumeMounts:
            - name: mealie-data
              mountPath: /app/data
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data
---
apiVersion: v1
kind: Service
metadata:
  name: mealie
  namespace: mealie
spec:
  selector:
    app: mealie
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 9000
  type: ClusterIP
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: mealie-internal
  namespace: mealie
  annotations:
    kubernetes.io/ingress.class: traefik-external
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`mealie.local.timmybtech.com`)
      kind: Rule
      services:
        - name: mealie
          port: 9000
  tls:
    secretName: local-timmybtech-com-tls
