apiVersion: v1
kind: Secret
metadata:
  name: immich-db-secret
  namespace: immich
  annotations:
    avp.kubernetes.io/path: "secret/data/database"
type: Opaque
stringData:
  DB_HOSTNAME: <path:secret/data/database#PG_HOST>
  DB_HOST: <path:secret/data/database#PG_HOST>
  DB_PORT: "5432"
  DB_USERNAME: <path:secret/data/database#PG_USER>
  DB_PASSWORD: <path:secret/data/database#PG_PASSWORD>
  DB_DATABASE_NAME: "immich"
  DB_VECTOR_EXTENSION: "pgvector"
  REDIS_HOSTNAME: "<path:secret/data/database#REDIS_HOST>"
  REDIS_PORT: "6379"
  REDIS_PASSWORD: "<path:secret/data/database#REDIS_PASSWORD>"
  IMMICH_MACHINE_LEARNING_URL: "http://immich-machine-learning:3003"
  IMMICH_API_KEY: <path:secret/data/argocd#IMMICH_API_KEY>
  IMMICH_URL: "http://immich-server:2283"
  EXTERNAL_IMMICH_URL: <path:secret/data/argocd#IMMICH_EXTERNAL_URL>
  GOOGLE_MAPS_API_KEY: <path:secret/data/argocd#IMMICH_GOOGLE_MAPS_API_KEY>
  GEMINI_API_KEY: <path:secret/data/argocd#IMMICH_GEMINI_API_KEY>
